<p>
  <strong>Preparation:</strong>
  <%= prep.name %>
</p>
 
<p>
  <strong>Preparation Details:</strong>
  <%= prep.body %>
</p>

<p>
  <strong>Time (in minutes):</strong>
  <%= prep.time %>
</p>

<p>
	<%= link_to 'Destroy Prep', [prep.protein, prep], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>