/*
*= require 'welcome'
*= require 'proteins'
*= require 'meals'
*/

a:link {text-decoration:none; color:#0D0C0D;}
a:visited {text-decoration:none; color:#0D0C0D;}
a:hover {text-decoration:none; color:#666666;}
a:active {text-decoration:none; color:#666666;}
.logo_words a:link {text-decoration:none;color:#F8F8Fa;}
.logo_words a:visited {text-decoration:none; color:#F8F8Fa;}
.logo_words a:hover {text-decoration:none; color:#0D0C0D;}
.logo_words a:active {text-decoration:none; color:#0D0C0D;}
/* Will need to figure out how to add these together */
.footer_words a:link {text-decoration:none;color:#F8F8Fa;}
.footer_words a:visited {text-decoration:none; color:#F8F8Fa;}
.footer_words a:hover {text-decoration:none; color:#0D0C0D;}
.footer_words a:active {text-decoration:none; color:#0D0C0D;}

body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	padding: 15px;
	background-color: #FDFDFD;
	line-height: 1.5em;
	text-align:justify;
}

.top {
	text-align: center;
	border: 2px solid #B9B6B5;
	background-color: #DBD9D6;
	padding-top: 10px;
	width: 100%;
	min-width: 675px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.logo_words {
	font-size: 20px;
	word-spacing: 2.3em;
	margin-top: 20px;
	margin: 0px auto 0px auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #949092;
	color: #F8F8Fa;
}

.logo_word_lis {
	display: inline;
	margin: 0px 3px;
}

#logo {
	text-decoration: none;
	text-align: center;
	font-size: 60px;
	text-transform: uppercase;
	word-spacing: 0em;
	margin-top: 15px;
	margin-bottom: 30px;
}

.footer {
	padding-top: 30px;
	overflow: auto;
}

.footer_words {
	font-size: 18px;
	margin: 0px auto 0px auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #949092;
	color: #F8F8Fa;
}

.footer_word_lis {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

.text {
	font-style: oblique;
	font-size: 85%;
	text-align: center;
}

.form {
	border: 2px solid;
	padding: 10px;
	padding-left: 15px;
	min-width: 350px;
	max-width: 375px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}

.form_preparation {
	
}

.food_index {
	border-bottom: 1px solid #000;
	border-top: 2px solid #000;
	padding: 15px;
	margin:0px auto 0px auto;
	width: 600px;
}

table.food_index {
	border-spacing: 5px;
}

th.food_index {
	border-bottom: 2px solid #111111;
}

.food_index_tr {
	background-color: #efefef;
	text-align: center
}