<h1>Listing proteins</h1>
<%= link_to 'New Protein', new_protein_path %>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @proteins.each do |protein| %>
    <tr>
      <td><%= protein.title %></td>
      <td><%= protein.text %></td>
    </tr>
  <% end %>
</table>